<h1>New Message</h1>

<%= form_with(model: @message, local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :receiver_id, 'To:' %>
    <% if @receiver %>
      <%= form.hidden_field :receiver_id, value: @receiver.id %>
      <p class="form-control-static"><%= @receiver.email %></p>
    <% else %>
      <%= form.select :receiver_id, User.all.where.not(id: current_user.id).map { |u| [u.email, u.id] }, { prompt: 'Select a user' }, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 5, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Message', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', messages_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
